body {
  font-family: -apple-system, Sans-Serif;
  background: #fafafa;
}

rect.background {
  fill: steelblue;
  stroke-width: 2px;
  stroke: rgb(0,0,0);
  opacity: 0.8;
}

rect.points {
  fill: #348017;
}

svg#table {
  height: 600px;
  width: 100%;
}
